/* dark theme */
html, body{
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    user-select: none;

    background-image: linear-gradient(to right,
                                    #121212,
                                    #121212 50%,
                                    #FFFFFF 50%,
                                    #FFFFFF);
    background-position: 100% 0;
    background-size: 200% 100%;
    /*transition: all .2s ease-in;*/ 
}

/*dark theme for modals*/
.night{
    background-position: 0 0;
}

body.night .modal-content {
    background-color: #171717;
}

body.night .modal-content .modal-title {
    color:#BB86FC;
    opacity: 87%;
}

body.night .modal-content .modal-body {
    color: #FFFFFF;
    opacity: 87%;
}

/*dark theme for front page header*/
body.night .title {
    color: #FFFFFF;
}

body.night header {
    background-color: #191919;
    box-shadow: none;
}

body.night i {
    color: #FFFFFF;
}

/*dark theme for front page body*/
body.night .target {
    color: #FFFFFF;
    opacity: 87%;
}

body.night #target-number {
    background-color: #BB86FC;
}

body.night .start-button-container {
    background-color: #121212;
}

body.night .start-button {
    background-color: #BB86FC;
    font-size: 30px;
    color: #000000;
    border-style: none;
    padding: 10px 40px;
    margin-bottom: 2em;
}

body.night .start-button:hover {
    background-color: #191919;
    color: #FFFFFF;
    opacity: 87%;
}

/*dark theme for the game*/
body.night .numbers-row, body.night .equation-row, body.night .total-row {
    background-color: #191919;
    box-shadow: none;
}

body.night .number-tile, body.night .total {
    background-color: #BB86FC;
    color: #000000;
}

body.night .slot {
    background-color: #303030;
    opacity: 87%;
    color: #000000;
}

body.night .operator {
    color: #BB86FC;
    opacity: 87%;
}

/*dark theme after the game is finished*/
body.night .start-button-row {
    color: #FFFFFF;
}

/*transition*/
.content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content > i{
    font-size: 35px;
    transition: all .2s ease-in;
}

.switch {
    position: relative;
    display: block;
    height: 20px;
    width: 44px;
    background: #303030;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.switch:after {
    position: absolute;
    left: -3px;
    top: -3px;
    display: block;
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: black;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}

.switch:active:after { 
    transform: scale(1.15, 0.85); 
}

.cbx:checked ~ label { 
    background: #EBEBEB; 
}

.cbx:checked ~ label:after {
    left: 18px;
    background: #FFFFFF;
}

.cbx:disabled ~ label {
    background: #d5d5d5;
    pointer-events: none;
}

.cbx:disabled ~ label:after { 
    background: #bcbdbc; 
}

.hidden { 
    display: none; 
}

/*main*/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #fffffff5;
    padding: 0 14px;
    box-shadow: 2px 2px 4px #d9d9d9;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #121212;
}

.left-menu {
    display: flex;
    width: 70px;
}

.right-menu {
    display: flex;
    width: 70px;
    justify-content: flex-end;
}

div i {
    padding: 0 4px;
}

.game {
    text-align: center;
    height: calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

.timer-row {
    padding: 10px 14px;
    display: flex;
    align-items: center;
}

.target {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

#target-number {
    background-color: #E1BEE7;
    padding: 10px 10px;
    margin: 30px auto 50px auto;
    width: 170px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.start-button-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #FFFFFF;
}

.start-button {
    background-color: #E1BEE7;
    font-size: 30px;
    color: #FFFFFF;
    border-style: none;
    padding: 10px 40px;
    margin-bottom: 2em;
}

.start-button:hover {
    background-color: #B39DDB
    ;
    color: #ffffff;
}

.game-board {
    display: none;
}

.numbers-row {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px 4px #d9d9d9;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    width: 330px;
    height: 60px;
    padding: 10px 20px;
    margin: auto;
    margin-bottom: 30px;
}

.number-tile {
    background-color: #E1BEE7;
    color: #121212;
    display: inline-flex;
    justify-content: center;
    align-items: center;

}

.equation-row {
    background-color: #FFFFFF;
    box-shadow: 4px 4px 4px 4px #d9d9d9;
    display: grid;
    grid-template-columns: repeat(9, 1fr) 2fr;
    grid-gap: 10px;
    width: 570px;
    height: 60px;
    padding: 10px 20px;
    margin: auto;
}

.slot {
    background-color: #dadada;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.operator, .total {
    display: inline-flex;
    justify-content: center;
    font-size: x-large;
    align-items: center;
}

.operator {
    font-weight: bold;
}

.mobile {
    display: none;
}

/*modal*/
#congratzModal .modal-content {
    align-items: center;
}

.modal-body img {
    width: 50%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.modal-body h2,
.modal-body h4,
.modal-body p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.modal-body button {
    color: #FFFFFF;
    background-color: #E1BEE7;
    width: 80%;
    border-style: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    display: grid;
}

.modal-body button:hover {
    background-color: #B39DDB;
}

body.night .modal-body .sharebutton {
    background-color: #BB86FC;
    color: #121212;
}

body.night .modal-body .sharebutton:hover {
    background-color: #232323;
    color: #FFFFFF;
    opacity: 87%;
}


@media (max-width: 360px) {
    .title {
        font-size: 16px;
    }

    .modal-title {
        font-size: medium;
    }

    .modal-body {
        font-size: small;
    }

    .switch {
        height: 15px;
        width: 33px;
    }

    .switch::after {
        left: -2px;
        top: -2px;
        display: block;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 600px) {
    .numbers-row {
        grid-gap: 5px;
        width: 240px;
        height: 45px;
    }

    .number-tile {
        width: 25px;
        height: 25px
    }

    .equation-row {
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 5px;
        width: 255px;
        height: 45px;
        padding: 10px 10px;
    }

    .total-row {
        background-color: #FFFFFF;
        box-shadow: 4px 4px 4px 4px #d9d9d9;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 10px;
        width: 90px;
        height: 40px;
        padding: 10px 10px;
        margin: 20px auto;
    }

    .game-board div {
        font-size: small;
    }

    .desktop {
        display: none;
    }

}

/* how to modal */
.modal-title {
    font-weight: bold;
    color: #CE93D8;
    font-family: Arial, Helvetica, sans-serif;
}

.instruction {
    text-align: left; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
 
#start-word:hover {
    color: royalblue;
}

.modal-body {
    text-decoration: none;
    display: block;
    text-align: left;
}

.modal-body .mygif {
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.modal-body i {
    font-size: 22px;
}

/* stats modal */
#statsContent h1 {
    text-align: center;
}

#statsContent p .titleicon {
    display: inline;
    width: 40px;
    height: auto;
}

#nextLoo, #midnight {
    text-align: center;
}

.sharebutton {
    display: block;
    width: 550%;
    border: none;
    font-size: 16px;
    text-align: center;
    background-color: #E1BEE7;
    color: #FFFFFF;
}

.popupStats {
    text-align: center;
    margin: auto;
    transform: translate(0, -50%);
}
  
.popupStats .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #BB86FC;
    opacity: 0%;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 13px;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin: auto;
}
  
.popupStats .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;
}

.popupStats .popuptext.show {
    visibility: visible;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-zoom-animation: fadeIn 3s;
}

  
  /* Add animation (fade in the popup) */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

body.night .popupStats .popuptext {
    background-color: #3d3d3d;
    color: #FFFFFF;
}

body.night .popupStats .popuptext::after {
    border-color: #121212;
}
  

/*Congrats Modal */
body.night #sharing {
    background-color: #BB86FC;
    font-size: 20px;
    color: #000000;
    border-style: none;
    padding: 10px 40px;
    margin-bottom: 2em;
}

body.night #sharing:hover {
    background-color: #222222;
    color: #FFFFFF;
    opacity: 87%;
}

#sharing {
    background-color: #E1BEE7;
    font-size: 20px;
    color: #FFFFFF;
    border-style: none;
    padding: 10px 40px;
    margin-bottom: 2em;
}

#sharing:hover {
    background-color: #B39DDB
    ;
    color: #ffffff;
}

/*Pop up when sharing*/
.popup {
    text-align: center;
    margin: auto;
    transform: translate(0, -50%);
}
  
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #BB86FC;
    opacity: 0%;
    color: #FFFFFF;
    text-align: center;
    border-radius: 6px;
    padding: 13px;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin: auto;
}
  
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: #FFFFFF transparent transparent transparent;
}

.popup .popuptext.show {
    visibility: visible;
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-zoom-animation: fadeIn 3s;
}

  
  /* Add animation (fade in the popup) */

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

body.night .popup .popuptext {
    background-color: #3d3d3d;
    color: #FFFFFF;
}

body.night .popup .popuptext::after {
    border-color: #121212;
}
  
