<!DOCTYPE html>
<html lang="en">

<head>
  <title>Numberloo</title>
  <!-- To use Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  
  <!-- To use JQuery -->
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script src="http://code.jquery.com/ui/1.8.24/jquery-ui.min.js" type="text/javascript"></script>
  <link href="http://code.jquery.com/ui/1.8.24/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="./static/style.css">
  <script src="{{ url_for('static',filename='script.js') }}" async></script>
  <script src="{{ url_for('static',filename='interactive.js') }}" async></script>

  <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow:wght@900&display=swap"
    rel="stylesheet">

  <!-- To use AJAX library-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body id="bd">
  <header>
    <div class="left-menu">

      <!--How to Modal-->
      <i type="button" id="howtoButton" class="material-icons" data-bs-toggle="modal" data-target="#howtoModal">help</i>

      <div class="modal fade" id="howtoModal" tabindex="-1" aria-labelledby="howtoLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="howtoLabel">HOW TO PLAY</h4>
              <button type="button" id="exit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              A target result for the equation is given daily.
              Once you click <strong data-bs-dismiss="modal" id="start-word">Start</strong>, the timer will start counting.
              <br>
              <hr>
              The goal of this game is to figure out the right equation which makes up to the target number as fast as possible.
              <br>
              <br>
              You can <b>drag and drop</b> the numbers given to the empty boxes. The system will give you the result of the equation you made. The game continues until the final result matches the target given.
              <br>
              <img class="mygif" id="playingvid" style="width:90%;" src="./static/images/howto.gif">
              <br>
              <hr>
              Based on the time you finish the puzzle, you will be rewarded a cute plant to add to your personal achievement inventory.
              <br>
              <br>
              <img class='mygif' style="width:20%;" src="./static/images/plant-unscreen.gif">
              <br>
              The growth stage of the plant you are rewarded is determined by the time taken to finish the puzzle. 
              <br>
              <hr>
              Each puzzle has a limit of <strong>10 minutes</strong>. If you still have not found the answer after 10 minutes, the game ends and you have to try again tomorrow.
              <br>
              <img class="mygif" style="width:20%;" src="./static/images/hourglass.gif">
              <hr>
              <p>If you have any feedback, please send us an <a href="mailto:trangngannguyen2001@gmail.com">email</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="title">Numberloo</div>

    <div class="right-menu">
      <!--Settings Modal-->
      <i type="button" id="settingsButton" class="material-icons" data-bs-toggle="modal" data-target="#settingsModal">settings</i>

      <div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="settingsLabel">SETTINGS</h4>
              <button id="exit" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <div class="container-fluid">
                <div class="content" class="row">
                  <div class="col-8" id="themeword">Light Mode</div>
                  <div class="col-4">
                    <div class="row" style="align-items: center;">
                      <div class="col-4">
                        <i class="fa">&#xf185;</i>
                      </div>
                      <div class="col-4">
                        <input type="checkbox" id="darktheme" class="cbx hidden">
                        <label for="darktheme" class="switch"></label>
                      </div>
                      <div class="col-4">
                        <i class="fa">&#xf186;</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--Statistics Modal-->
      <i type="button" id="statsButton" class="material-icons" data-bs-toggle="modal" data-target="#statsModal">leaderboard</i>

      <div class="modal fade" id="statsModal" tabindex="-1" aria-labelledby="statsLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="statsLabel">STATISTICS</h4>
              <button type="button" id="exit" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
              <p>Placeholder for statistics temp</p>
            </div>
          </div>
        </div>
      </div>

    </div>

  </header>
  <div class="game">
    <div class="timer-row">
      <i class="material-icons" >schedule</i>
      <span class="timer" style="font-size:1.2rem;"> 0:0 </span>
    </div>
    <div class="target">Target</div>

    <div id="target-number">-</div>

    <div class="start-button-container">
      <div class="start-button-row">
        <button onclick="startGame()" type="button" class="start-button btn btn-primary">Start</button>
      </div>
    </div>

    <div class="row align-items-center number-row">
      <div class="col-5"> </div>
      <div class="col-2 p-3 mb-2 bg-secondary text-white">{{target}}</div>
      <div class="col-5"> </div>
    </div>

      <div class="game-board">
        <div class="numbers-row">
          <div class="number-tile"></div>
          <div class="number-tile"></div>
          <div class="number-tile"></div>
          <div class="number-tile"></div>
          <div class="number-tile"></div>
          <div class="number-tile"></div>
        </div>

        <div class="equation-row">
          <div class="slot">0</div>
          <div class="slot">0</div>
          <div class="operator" id="operator1"></div>
          <div class="slot">0</div>
          <div class="slot">0</div>
          <div class="operator" id="operator2"></div>
          <div class="slot">0</div>
          <div class="slot">0</div>
          <div class="operator desktop">&equals;</div>
          <div class="total desktop">0</div>
        </div>

        <div class="total-row mobile">
          <div class="operator ">&equals;</div>
          <div class="total ">0</div>
        </div>
      </div>
    </div>


  <!-- Congratulation Modal -->
  <div class="modal fade" id="congrazModal" tabindex="-1" aria-labelledby="CongratulationModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h2 id="first-line"> Congratulation! </h2>
          <h2 id="second-line">You have solved the puzzle in</h2>
          <h4 id="time-taken"></h4>
          <img id="achieved-plant" src="">
          <p id="achieved-text"></p>
          <div>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>